---
layout: splash
header:
  overlay_image: /assets/banner.jpg
  caption:
excerpt: "<p><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>"
<!-- intro:
  - excerpt: Information for the flight room in the Durand building basement. -->
---

<!-- {% include feature_row id="intro" type="center" %} -->
<!-- {% include feature_row %} -->
<p style="text-align:center">Welcome to the Stanford Flight Room located in the basement of the Durand building. This is a shared experimental workspace in the Department of Aeronautics and Astronautics.</p>